
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

:root {/* definindo o tamanho padrao*/
    font-size: 16px;

}

::-webkit-scrollbar {/* vai estilizar a barra de rollagem que apareceu*/

    width: 8px;

}

::-webkit-scrollbar-track {/* vai estilizar a linha por onde a barra percorre*/

    background-color: #2c2c31;
    }

::-webkit-scrollbar-thumb {/* o pedacinho da barra de rolagem que desce e sobe*/

    background-color: #0f0f2b;
}

@keyframes entering {/* animação de entrada*/
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

body {
    background-color: #121215;
    color: #eaeaea;
    display: grid; /* quando quiser dividir a tela*/
    grid-template-areas: "profile timeline"; /* aqui estamos dividindo a tela em duas colunas*/
    grid-template-columns: 1fr 1fr  ; /* defini o tamano de cada coluna, ou seja aqui eu estou dividindo a pagina com uma fração, ou seja a mesma metade pra cada*/
    grid-template-rows: 100vh; /* define qual é a nossa linha*/
}

nav {
    padding: 28px;
    grid-area: "timeline";
    overflow-y: scroll; /* só a minha tag nav vai rolar e a outra coluna vai ficar parada*/
    animation: entering 0.7s ease-in-out; /* depois de fazer a animação vc precisa colocar ela onde vc quer realiza-la*/
}

.memory {
    display: flex;
    flex-direction: column;
    gap: 16px; /* espaçamento entre os objetos*/
    text-decoration: none; /* tira a marcação do link*/
    margin-bottom: 64px; /* margem entre um objeto e outro*/
}

.memory small {
    color: #bebebf;
    font-size: 0.75rem;
}

.memory h1 {
    font-size: 2rem;
    color: #eaeaea;
}

.memory img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out; /* suavisando o efeito da imagem*/
}

.memory div { /*a div foi necessaria para a imagem não sair na hora que o efeito for aplicado*/
    width: 100%;
    height: 280px;
    overflow: hidden; /* o conteudo e exceder o espaço não será mostrado*/
    border-radius: 12px;
}

.memory:hover img{
    transform: scale(1.1); /* o transform transforma o elemnto, exemplo, zoon, rotacionar etc*/

}

.memory p {
    font-size: 1.2rem;
    color: #bebebf;
    line-height: 28px; /* espaçamento entre as linhas*/
}

aside {
    grid-area: "profile";
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza na horizontal*/
    justify-content: center; /*alinha na vertical*/
    border-right: 1px solid;
    gap: 20px;
    border-image: linear-gradient(#727275, #2c2c31) 1;
    background-image: url(./assets/background.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 100;
}

aside * { /* quando vc usa o * isso significa que vc está selecionando todos os elemntos do aside e aplicando as configurações*/
    animation: entering 0.7s ease-in-out; /* depois de fazer a animação vc precisa colocar ela onde vc quer realiza-la*/
}

aside img:nth-child(2) {
    width: 140px;
    height: 160px;
    border-radius: 40%; /* deixou a imagem arredonda se quiser completaente redonda é so colocar 50%*/
    border: 4px solid transparent;
    background: linear-gradient(#d39e33, #ed5636, #633bbc) padding-box,
    linear-gradient(260deg, #d39e33, #ed5636, #633bbc) border-box; /* deixou a borda efeito gradiente*/
}

aside p {
    font-size: 2rem;
    text-align: center;
}

aside span {
    font-size: 0.75rem;
    color: #9e9ea0;

}

@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.8fr;
        grid-template-areas:
        "profile"
        "timeline";
    }
    aside {
        border-right: none;
        padding: 32px 12px;
    }

    nav {
        overflow-y: visible;
        padding: 22px;
    }
}